/* Importing Google Font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.navbar :where(.nav-section, .search-form, .nav-logo) {
    display: flex;
    align-items: center;
}

.navbar .nav-section {
    gap: 1rem;
}

.navbar :where(.logo-image, .user-image) {
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.navbar .nav-logo{
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
}



